<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gzhmc.report4gzhmc.mapper.ExperimentalTestMapper" >
  <resultMap id="BaseResultMap" type="org.gzhmc.report4gzhmc.model.ExperimentalTest" >
    <id column="cId" property="cId" />
    <result column="cExperimentName" property="cExperimentName" />
    <result column="cExperimentTime" property="cExperimentTime"  />
    <result column="cExperimentEnglishName" property="cExperimentEnglishName" />
      <result column="cStatu" property="cStatu" />
    
  </resultMap>
 
 <select id="getAll" resultMap="BaseResultMap" parameterType="int" >
    select *
    from gy_report_experimental_test
    order by cId desc
  </select>
  <select id="getById" resultMap="BaseResultMap" parameterType="int" >
    select 
  cId, cExperimentName, cExperimentTime, cExperimentEnglishName,cStatu
    from gy_report_experimental_test
    where cId = #{cId}
  </select>
  <delete id="delete" parameterType="int" >
    delete from gy_report_experimental_test
    where cId = #{cId }
  </delete>
  <insert id="add" parameterType="org.gzhmc.report4gzhmc.model.ExperimentalTest" >
    insert into gy_report_experimental_test (cId, cExperimentName, cExperimentTime, 
      cExperimentEnglishName,cStatu)
    values (#{cId }, #{cExperimentName }, #{cExperimentTime }, 
      #{cExperimentEnglishName }, #{cStatu })
  </insert>

  <update id="updateSelective" parameterType="org.gzhmc.report4gzhmc.model.ExperimentalTest" >
    update gy_report_experimental_test
    <set >
      <if test="cExperimentName != null" >
        cExperimentName = #{cExperimentName },
      </if>
      <if test="cExperimentTime != null" >
        cExperimentTime = #{cExperimentTime },
      </if>
      <if test="cExperimentEnglishName != null" >
        cExperimentEnglishName = #{cExperimentEnglishName },
      </if>
       <if test="cStatu != null" >
        cStatu = #{cStatu },
      </if>
    </set>
    where cId = #{cId }
  </update>
  <update id="update" parameterType="org.gzhmc.report4gzhmc.model.ExperimentalTest" >
    update gy_report_experimental_test
    set cExperimentName = #{cExperimentName },
      cExperimentTime = #{cExperimentTime},
      cExperimentEnglishName = #{cExperimentEnglishName},
       cStatu = #{cStatu}
    where cId = #{cId }
  </update>
</mapper>