<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gzhmc.report4gzhmc.mapper.ScoreSheetMapper">
	<resultMap id="BaseResultMap" type="org.gzhmc.report4gzhmc.model.ScoreSheet">
		<id column="cId" property="cId" />
		<result column="cTherory" property="cTherory"  />
		<result column="cReagen" property="cReagen"  />
		<result column="cInserument" property="cInserument"  />
		<result column="cExperiment" property="cExperiment"  />
		<result column="cLabresult" property="cLabresult"  />
		<result column="cSum" property="cSum"  />
		<result column="cComment" property="cComment" />
		<result column="cCreateTime" property="cCreateTime"  />
		<result column="cConclution" property="cConclution" />
	</resultMap>
	<select id="getAll" resultMap="BaseResultMap">
		select * from gy_report_scoresheet
	</select>
	<select id="getById" resultMap="BaseResultMap" parameterType="int">
		select
		cId, cTherory, cReagen, cInserument, cExperiment,
		cLabresult, cSum, cCreateTime,cConclution
		from gy_report_scoresheet
		where cId = #{cId}
	</select>
	<delete id="delete" parameterType="int">
		delete from gy_report_scoresheet
		where cId = #{cId}
	</delete>
	<insert id="add" parameterType="org.gzhmc.report4gzhmc.model.ScoreSheet" useGeneratedKeys="true" keyProperty="cId">
		insert into gy_report_scoresheet ( cTherory,
		cReagen, cInserument, cExperiment,
		cLabresult, cSum, cComment,
		cCreateTime,cConclution)
		values (
		#{cTherory },
		#{cReagen }, #{cInserument }, #{cExperiment },
		#{cLabresult }, #{cSum }, #{cComment},
		#{cCreateTime }, #{cConclution})
	</insert>

	<update id="updateSelective" parameterType="org.gzhmc.report4gzhmc.model.ScoreSheet">
		update gy_report_scoresheet
		<set>
			
			<if test="cTherory != null">
				cTherory = #{cTherory },
			</if>
			<if test="cReagen != null">
				cReagen = #{cReagen },
			</if>
			<if test="cInserument != null">
				cInserument = #{cInserument },
			</if>
			<if test="cExperiment != null">
				cExperiment = #{cExperiment },
			</if>
			<if test="cLabresult != null">
				cLabresult = #{cLabresult },
			</if>
			<if test="cSum != null">
				cSum = #{cSum },
			</if>
			<if test="cComment != null">
				cComment = #{cComment},
			</if>
			<if test="cCreateTime != null">
				cCreateTime = #{cCreateTime },
			</if>				
				<if test="cConclution != null">
				cConclution = #{cConclution },
			</if>
		</set>
		where cId = #{cId}
	</update>
	<update id="update" parameterType="org.gzhmc.report4gzhmc.model.ScoreSheet">
		update gy_report_scoresheet
		set 
		cTherory = #{cTherory },
		cReagen = #{cReagen },
		cInserument = #{cInserument },
		cExperiment = #{cExperiment },
		cLabresult = #{cLabresult },
		cSum = #{cSum },
		cComment = #{cComment},
		cCreateTime = #{cCreateTime},		
		cConclution = #{cConclution}
		where cId = #{cId}
	</update>
</mapper>