<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gzhmc.report4gzhmc.mapper.StudentMapper">
	<resultMap id="BaseResultMap" type="org.gzhmc.report4gzhmc.model.Student">
		<id column="cUserId" property="cUserId" />
		<result column="cName" property="cName" />
		<result column="cStudentNumber" property="cStudentNumber" />
		<result column="cGradeId" property="cGradeId" />
		<result column="cPicturePath" property="cPicturePath" />
		<result column="cPhoneNum" property="cPhoneNum" />
	</resultMap>
	<select id="getNoSubmitStuByGradeIdAndExamId" resultMap="BaseResultMap">
		select
		stu.cName,stu.cStudentNumber,stu.cGradeId from gy_report_student stu
		where NOT EXISTS(SELECT 1 from gy_report_report r,gy_report_student ss
		WHERE r.cExperimentTextId=#{cExperimentId} and r.cStudentId=ss.cUserId
		and
		ss.cGradeId=#{cGradeId} and ss.cUserId=stu.cUserId) and
		stu.cGradeId=#{cGradeId}
	</select>
	<select id="getAll" resultMap="BaseResultMap">
		select * from gy_report_student
		order by cUserId desc
	</select>
	<select id="getCountAll" resultType="int" parameterType="int">
		select count(*) from gy_report_student where cGradeId=#{cGradeId}
	</select>
	<select id="getById" parameterType="int" resultMap="BaseResultMap">
		select
		*
		from
		gy_report_student
		where cUserId = #{cId }
	</select>
	<select id="getByStudentNumber" resultType="int">
		select COUNT(*) from
		gy_report_student where cStudentNumber=#{cStudentNumber }
	</select>
	<delete id="delete" parameterType="int">
		delete from gy_report_student
		where cUserId = #{cId}
	</delete>
	<insert id="add" parameterType="org.gzhmc.report4gzhmc.model.Student"
		useGeneratedKeys="true" keyProperty="cUserId">
		insert into gy_report_student (
		cName, cStudentNumber,
		cGradeId)
		values (#{cName }, #{cStudentNumber},
		#{cGradeId })
	</insert>

	<update id="updateSelective" parameterType="org.gzhmc.report4gzhmc.model.Student">
		update gy_report_student
		<set>
			<if test="cName != null">
				cName = #{cName },
			</if>
			<if test="cStudentNumber != null">
				cStudentNumber = #{cStudentNumber },
			</if>
			<if test="cGradeId != null">
				cGradeId = #{cGradeId },
			</if>
			<if test="cPicturePath != null">
				cPicturePath = #{cPicturePath },
			</if>
			<if test="cPhoneNum != null">
				cPhoneNum = #{cPhoneNum },
			</if>
		</set>
		where cUserId = #{cUserId }
	</update>

	<update id="update" parameterType="org.gzhmc.report4gzhmc.model.Student">
		update gy_report_student
		set
		cName = #{cName },
		cStudentNumber = #{cStudentNumber },
		cGradeId =
		#{cGradeId },
		cPicturePath = #{cPicturePath },
		cPhoneNum = #{cPhoneNum }
		where cUserId = #{cUserId }
	</update>
</mapper>