<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gzhmc.report4gzhmc.mapper.TeacherMapper">
	<resultMap id="BaseResultMap" type="org.gzhmc.report4gzhmc.model.Teacher">
		<id column="cUserId" property="cUserId" />
		<result column="cName" property="cName" />
		<result column="cTeacherId" property="cTeacherId" />
		<result column="cCollegeId" property="cCollegeId" />
	</resultMap>

	<select id="getAll" resultMap="BaseResultMap">
		select * from gy_report_teacher
		order by cUserId desc
	</select>
	<select id="getById" resultMap="BaseResultMap" parameterType="int">
		select
		cUserId, cName, cTeacherId, cCollegeId
		from gy_report_teacher
		where cUserId = #{cId }
	</select>
	<select id="getByTeacherId" resultMap="BaseResultMap"
		parameterType="String">
		select
		cUserId, cName, cTeacherId, cCollegeId
		from
		gy_report_teacher
		where cTeacherId = #{teacherId}
	</select>
	<delete id="delete" parameterType="int">
		delete from gy_report_teacher
		where cUserId = #{cId }
	</delete>
	<insert id="add" parameterType="org.gzhmc.report4gzhmc.model.Teacher"
		useGeneratedKeys="true" keyProperty="cUserId">
		insert into gy_report_teacher
		(cName, cTeacherId,
		cCollegeId)
		values (#{cName }, #{cTeacherId },
		#{cCollegeId })
	</insert>
	<update id="updateSelective" parameterType="org.gzhmc.report4gzhmc.model.Teacher">
		update gy_report_teacher
		<set>
			<if test="cName != null">
				cName = #{cName },
			</if>
			<if test="cTeacherId != null">
				cTeacherId = #{cTeacherId },
			</if>
			<if test="cCollegeId != null">
				cCollegeId = #{cCollegeId },
			</if>

		</set>
		where cUserId = #{cUserId }
	</update>
	<update id="update" parameterType="org.gzhmc.report4gzhmc.model.Teacher">
		update gy_report_teacher
		set
		cName = #{cName },
		cTeacherId = #{cTeacherId },
		cCollegeId =
		#{cCollegeId },
		where cUserId = #{cUserId }
	</update>
</mapper>