<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gzhmc.report4gzhmc.mapper.TeacherGradeMapper" >
  <resultMap id="BaseResultMap" type="org.gzhmc.report4gzhmc.model.TeacherGrade" >
    <id column="cId" property="cId" jdbcType="INTEGER" />
    <result column="cTeacherId" property="cTeacherId" jdbcType="INTEGER" />
    <result column="cGradeId" property="cGradeId" jdbcType="INTEGER" />
    <result column="cCreateTime" property="cCreateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    cId, cTeacherId, cGradeId, cCreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gy_report_teacher_grade
    where cId = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gy_report_teacher_grade
    where cId = #{cId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.gzhmc.report4gzhmc.model.TeacherGrade" >
    insert into gy_report_teacher_grade (cId, cTeacherId, cGradeId, 
      cCreateTime)
    values (#{cId,jdbcType=INTEGER}, #{cTeacherId,jdbcType=INTEGER}, #{cGradeId,jdbcType=INTEGER}, 
      #{cCreateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="org.gzhmc.report4gzhmc.model.TeacherGrade" >
    insert into gy_report_teacher_grade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        cId,
      </if>
      <if test="cTeacherId != null" >
        cTeacherId,
      </if>
      <if test="cGradeId != null" >
        cGradeId,
      </if>
      <if test="cCreateTime != null" >
        cCreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cTeacherId != null" >
        #{cTeacherId,jdbcType=INTEGER},
      </if>
      <if test="cGradeId != null" >
        #{cGradeId,jdbcType=INTEGER},
      </if>
      <if test="cCreateTime != null" >
        #{cCreateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.gzhmc.report4gzhmc.model.TeacherGrade" >
    update gy_report_teacher_grade
    <set >
      <if test="cTeacherId != null" >
        cTeacherId = #{cTeacherId,jdbcType=INTEGER},
      </if>
      <if test="cGradeId != null" >
        cGradeId = #{cGradeId,jdbcType=INTEGER},
      </if>
      <if test="cCreateTime != null" >
        cCreateTime = #{cCreateTime,jdbcType=DATE},
      </if>
    </set>
    where cId = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.gzhmc.report4gzhmc.model.TeacherGrade" >
    update gy_report_teacher_grade
    set cTeacherId = #{cTeacherId,jdbcType=INTEGER},
      cGradeId = #{cGradeId,jdbcType=INTEGER},
      cCreateTime = #{cCreateTime,jdbcType=DATE}
    where cId = #{cId,jdbcType=INTEGER}
  </update>
</mapper>