<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gzhmc.report4gzhmc.mapper.TopicResponseMapper">
	<resultMap id="BaseResultMap" type="org.gzhmc.report4gzhmc.model.TopicResponse">
		<id column="cId" property="cId" />
		<result column="cTopicId" property="cTopicId" />
		<result column="cCreateTime" property="cCreateTime" />
		<result column="cLaunchId" property="cLaunchId" />
		<result column="cContent" property="cContent" />
		<result column="cResponseStatus" property="cResponseStatus" />
		<association property="user" javaType="org.gzhmc.report4gzhmc.model.User">
			<result column="cUserName" property="cUserName" />
		</association>

	</resultMap>
	<select id="getByTopicId" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		r.cId,r.cContent,r.cCreateTime,r.cLaunchId,u.cUserName
		from gy_report_topic_response r,gy_report_user u
		where r.cLaunchId=u.cId and cTopicId=#{cTopicId}
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		*
		from gy_report_topic_response
		where cId = #{cId}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from gy_report_topic_response
		where cId = #{cId}
	</delete>
	<insert id="insert" parameterType="org.gzhmc.report4gzhmc.model.TopicResponse">
		insert into gy_report_topic_response (cTopicId, cCreateTime,
		cLaunchId, cContent,cResponseStatus)
		values ( #{cTopicId}, #{cCreateTime},
		#{cLaunchId}, #{cContent},#{cResponseStatus})
	</insert>
	<insert id="insertSelective" parameterType="org.gzhmc.report4gzhmc.model.TopicResponse">
		insert into gy_report_topic_response
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cId != null">
				cId,
			</if>
			<if test="cTopicId != null">
				cTopicId,
			</if>
			<if test="cCreateTime != null">
				cCreateTime,
			</if>
			<if test="cLaunchId != null">
				cLaunchId,
			</if>
			<if test="cContent != null">
				cContent
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.gzhmc.report4gzhmc.model.TopicResponse">
		update gy_report_topic_response
		<set>
			<if test="cTopicId != null">
				cTopicId = #{cTopicId},
			</if>
			<if test="cCreateTime != null">
				cCreateTime = #{cCreateTime},
			</if>
			<if test="cLaunchId != null">
				cLaunchId = #{cLaunchId},
			</if>
			<if test="cContent != null">
				cContent = #{cContent},
			</if>
			<if test="cResponseStatus != null">
				cContent = #{cResponseStatus},
			</if>
		</set>
		where cId = #{cId}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.gzhmc.report4gzhmc.model.TopicResponse">
		update gy_report_topic_response
		set cTopicId = #{cTopicId},
		cCreateTime = #{cCreateTime},
		cLaunchId = #{cLaunchId},
		cResponseStatus = #{cResponseStatus},
		cContent = #{cContent}
		where cId = #{cId}
	</update>
	<update id="updateStatusByPrimaryKey">
		update gy_report_topic_response
		set
		cResponseStatus = 1
		where cId = #{cId}
	</update>
</mapper>